extends layout

block content
  h1 Dart Client Websocket Example
  p#output
  input#input(type=text)
  script(type="application/dart", src="javascripts/client.dart")
  script(src="javascripts/dart.js")

